.status { 
  text-transform: capitalize;
  border-radius: 0.25rem;
  /* border: 1px solid red; */
  width: 100% !important;
  text-align: center;
  /* font-weight: bold; */
}

.priority {
  text-transform: capitalize;
}

.New {
  background: #f44336;
  padding: 0.25rem;
  color: white;
}

.Open {
  background: #03a9f4;
  padding: 0.25rem;
  color: white;
}

.Pending {
  background: #4caf50;
  padding: 0.25rem;
  color: white;
}

.Closed {
  background: #212121;
  padding: 0.25rem;
  color: white;
}

.monospaced {
  font-family: monospace;
}

.table-row:hover {
  background: #e9e9e9;
}

.link-hover:hover {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}