.status { 
  text-transform: capitalize;
  width: 100% !important;
  text-align: center;
  background: #F5F5F5;
  color: black;
  /* font-weight: bold; */
}

.priority {
  text-transform: capitalize;
}

.New {
  /* background: #f44336; */
  background: #FFEBEE;
  border-left: 4px solid #f44336;
  padding: 0.25rem;

}

.Open {
  /* background: #03a9f4; */
  background: #E1F5FE;
  border-left: 4px solid #03A9F4;
  padding: 0.25rem;
}

.Pending {
  /* background: #4caf50; */
  background: #E8F5E9;
  border-left: 4px solid #4caf50;
  padding: 0.25rem;
}

.Closed {
  /* background: #212121; */
  border-left: 4px solid #212121;
  padding: 0.25rem;
}

.monospaced {
  font-family: monospace;
}

.table-row:hover {
  background: #e9e9e9;
}

.link-hover:hover {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}