
.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.home-inner-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid red; */
  height: 100%;
}

.disclosure-text > h1 {
  margin-bottom: 0;
}

.disclosure-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  /* border: 1px solid red; */
  width: 100%;
}

.description-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
}

.description-header > * {
  margin-right: 0.5rem;
}

.description-text {
  padding: 0.5rem;
  margin-top: 0.5rem;
  flex-direction: column;
  display: flex;
  width: 100%;
  border-bottom: black;
}

.buttons {
  width: 100% !important;
  height: 50% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 80%;
}

.button {
  width: 30% !important;
  height: 50px;
  padding: 1rem;
  background: #F9DE48 !important;
  color: black !important;
  width: 40%;
  margin: 1rem;
}