.form-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropzone-container {
  width: 80%;
  padding: 1rem;
}

.dropzone-custom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}

.business-id-container {
  width: 80%;
  padding: 1rem;
}

.claim-heading {
  font-size: 1rem;
  font-weight: bolder;
  margin: 0;
  width: 80%;
  border-bottom: 1px solid black;
  color: black;
  padding: 0.5rem;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  width: 80%;
}

.category-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-column {
  display: flex;
  flex-direction: column;
  width: 33%;
}


.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.answer-container {
  width: 80%;
  padding: 1rem;
}

.answer {
  width: 100%;
  margin-left: 0px !important;
}

.question {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question-mark {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background: #135E89;
  border-radius: 50%;
  color: white;
  padding: 1.2rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}

.question-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  padding: 1rem;
}

.category-text {
  width: 80%;
}

.submit-btn {
  width: 40%;
}

.cancel-btn {
  width: 40%;
}