@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

/* 

Fonts imported from Google:

  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;

Client style guide mentions Helvetica Neue but it is proprietary on platforms other than MacOS - use Roboto in the meantime

Material UI has it's own CSS styles for <html> and <body>, we can override with !important.

*/

.logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800 !important;
}
